.content {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.sprites {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sprite-container {
  display: flex;
  flex-direction: row;
  aling-items: center;
  margin: 0 20px;
}

li {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.sprite-1,
.sprite-2,
.sprite-3 {
  display: inline-block;
  height: 390px;
  width: 290px;
  border: solid black;
  border-radius: 10px;
  background-size: cover;
}

.sprite-1 {
  background: url(0-sprite.png) no-repeat;
  background-position: left;
}

.sprite-2 {
  background: url(0-sprite.png) no-repeat;
  background-position: center;
}

.sprite-3 {
  background: url(0-sprite.png) no-repeat;
  background-position: right;
}
