body {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border: solid black;
  border-radius: 10px;
  background-size: cover;
  margin: 50px;
}

.i-html,
.html {
  background: url(0-sprite.png) no-repeat;
  background-position: left;
  height: 390px;
  width: 290px;
}

.i-css,
.css {
  background: url(0-sprite.png) no-repeat;
  background-position: center;
  height: 390px;
  width: 290px;
}

.i-js,
.js {
  background: url(0-sprite.png) no-repeat;
  background-position: right;
  height: 390px;
  width: 290px;
}
