.toggle {
  position: relative;
  display: inline-block;
  widht: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  boder-width: 60px;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: rgb(128, 128, 128, 0.3);
  background-color: rgb(208, 209, 211, 0.5);
  width: 60px;
  height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -6px;
  bottom: -4px;
  background-color: white;
  border-color: rgb(128, 128, 128, 0.3);
  border-style: solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle-label {
  background-color: red;
  width: 60px;
  height: 20px;
}

input:checked + .toggle-label:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

.toggle-label {
  border-width: 1px;
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 40px;
}

.toggle-label:before {
  border-radius: 50px;
  border-width: 1px;
}

.toggle-inner:before {
  content: "No";
  position: center;
  color: rgb(128, 128, 128);
  font-size: 14px;
  font-family: "Arial";
  transition: opacity 0.4s ease;
  margin-left: 30px;
}

input:checked .toggle-inner:before {
  opacity: 0;
}

/* input:checked .toggle-inner:before {
  content: "Yes";
  position: center;
  color: #fff;
  font-size: 14px;
  transition: opacity 0.4s ease;
  margin-left: 50px;
} */
